.App {
  max-height: 100%;
}

.Home {
  display: flex;
  justify-content: space-around;
  padding-top: 15rem;
}

img {
  width: 65px;
  height: auto;
  opacity: 0.9;
}

img:hover {
  transform: rotate3d(1, 1, 1, -25deg);
}
