.App {
  height: 100%;
}

.Home {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding-top: 15rem;
  gap: 7rem;
}

img {
  width: 65px;
  height: auto;
}
